@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Employee List</title>



    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    @Html.Partial("_AddEmployeeModal");

    <div class="container">
        @if (TempData["Message"] != null)
        {
            var messageType = TempData["MessageType"] as string;
            var alertClass = messageType == "success" ? "alert-success" : "alert-danger";
            <div class="alert @alertClass">
                @TempData["Message"]
            </div>
        }

        <div class="container mt-3 text-right">
            <a href="@Url.Action("Logout", "Employee")" class="btn btn-danger">
                Logout
            </a>
            <a href="@Url.Action("ForgetPassword", "Admin")" class="btn btn-warning">Change Password</a>

        </div>
        <h2>Employees</h2>
        <button class="btn btn-success mb-3" data-toggle="modal" data-target="#addEmployeeModal"> ADD Employee</button>
        <table id="employeeTable" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Department</th>
                    <th>Update</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>



    <script>
        $(document).on('click', '[data-target="#addEmployeeModal"]', function () {
            $('#addEmployeeForm')[0].reset();
            $('#addEmployeeForm').attr('action', '/Employee/Add');
            $('#saveEmployeeBtn').text('Save');
            $('.field-validation-error').text('');
        });

        
        $(document).ready(function () {
            $('#employeeTable').DataTable({
                "ajax": {
                    "url": "/Employee/GetAll",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": function (response) {
                        if (response.success) {
                            return response.data;
                        }
                        else {
                            alert("Error:" + response.message);
                            return [];
                        }
                    },
                    "error": function () {
                        alert("An unexpected error occured during loading data");
                    }
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "FirstName" },
                    { "data": "MiddleName" },
                    { "data": "LastName" },
                    { "data": "DepartmentName" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `<button class= 'btn btn-sm btn-primary' onclick='editEmployee(${row.Id})' > Edit</button>`;
                        }
        
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return  `<button class='btn btn-sm btn-primary' onclick='deleteEmployee(${row.Id})'>Delete</button>`
                        }
                    }
                ]
            });
        });



        function editEmployee(Empid) {
            
            $.ajax(
                {
                    url: '/Employee/EditEmployee',
                    type: 'GET',
                    data: { id: Empid },
                    success: function (response) {
                        if (response.success) {
                            var emp = response.data;

                            $('#employeeId').val(emp.Id);
                            $('#firstName').val(emp.FirstName);
                            $('#middleName').val(emp.MiddleName);
                            $('#lastName').val(emp.LastName);
                            $('#dob').val(emp.Dob);

                            $('#email').val(emp.Email);
                            $('#phone').val(emp.Phone);
                            $('#streetAddress').val(emp.StreetAddress);
                            $('#city').val(emp.City);
                            $('#state').val(emp.State);
                            $('#country').val(emp.Country);
                            $('#zipCode').val(emp.ZipCode);

                            loadDepartmentWithId(emp.DeptId);

                            $('#addEmployeeForm').attr('action', '/Employee/Update')
                            $('#saveEmployeeBtn').text('Update Employee');
                            $('#addEmployeeModal').modal('show');
                        }
                        else {
                            alert("Error: " + response.message);
                        }
                    },         
                    error: function() {
                        alert("Cant fetch data");
                    }
                }
            );
        }


        function deleteEmployee(Empid) {
            $.ajax({
                url: '/Employee/Delete',
                type: 'POST',
                data: { id: Empid },
                success: function (response) {                   
                    if (response.success) {
                        $('#employeeTable').DataTable().ajax.reload();
                    }
                    else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert("Failed to delete employee");
                }
            });
        }
        
    </script>
</body>
</html>
